<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596817906107-a00f98cbigrr11en7gv1s59gkpg00qvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596817906107-a00f98cbigrr11en7gv1s59gkpg00qvq</string>
	<key>API_KEY</key>
	<string>AIzaSyBBzg4QUMBm8V6GOBGxvGLwOSBcNzsjmd0</string>
	<key>GCM_SENDER_ID</key>
	<string>596817906107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>gw-todoapp-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>gw-todoapp-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596817906107:ios:f8feacb366f5ac15e8dc9e</string>
</dict>
</plist>